
.container {
	min-height: 300px;
	background-color: #10245230;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 10px; 
	line-height: 1.5;
	text-align: center;
	margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
}

.img-div {
	background: #ad9797b3;
  	padding: 10px;
  	margin: 0;
}

img {
	max-width: 50%;
	display: block;
	height: auto;
	margin: 0 auto;
	
}

#img-caption {
	margin: 15px 0 5px 0;
	font-size: 1.1rem;
}

#name {
	margin-bottom: 0;
	font-size: 4rem;
}

#brief {
	font-size: 1.2rem;
}

ul {
   max-width: 550px;
   margin: 0 auto 50px auto;
   text-align: left;
   line-height: 1.6;
}

li {
   margin: 16px 0;
   font-size: 1.2rem;
}

h3 {
	font-size: 1.4rem;
}

@media (max-width: 460px) {
  h1 {
    font-size: 3.5rem;
    line-height: 1.2;
  }
  .container {
  	margin: 0;
  }
}